<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
    <main>
        <h1>Welcome to My Dope ML Project</h1>
    </main>
    <form action="http://localhost:5000/result" method="POST">
        <p>Text <input type="text" name="Name" /></p>
        <p><input type="submit" value="Classify Me" /></p>
    </form>

</body>

</html>